	.log{
		padding-left: 550px;
		height: 338px;
		width: 462px;
		padding-top: 100px;
	}
	.log p{
		overflow: hidden;
		margin-bottom: 30px;
	}
	.log p span{
		float: left;
		width: 60px;
		height: 27px;
		text-align: center;
		padding-top: 13px;
		color: #999;
		font-size: 16px;
		font-weight: 550;
	}
	.log input{
		float: left;
		width: 300px;
		height: 40px;
		line-height: 40px;
		border: solid 1px #AAAAAA;
		background: #faffbd;
		text-indent: 7px;
		font: 15px;
	}
	.log input.check{
		width: 20px;
		height: 20px;
	}
	.forget{
		padding: 0 66px 0 66px;
	}
	.log ul{
		overflow: hidden;
	}
	ul,li{
		list-style: none;
	}
	.fl{
		float: left;
	}
	.fl span{
		color: #999999;
		font-size: 16px;
		font-weight: bold;
	}
	.fr{
		float: right;
		margin-left: ;
	}
	.fr a{
		color: #999999;
		font-size: 16px;
		font-weight: 530;
		text-decoration: underline;
		margin-right: 5px;
	}
	
	.log .btn{
		padding: 20px 66px 0 0px;
	}
	
	input.submit{
		float: left;
		width: 150px;
		background: #64a131;
		color: white;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
	input.login{
		float: right;
		width: 130px;
		margin-left: 10px;
		border: solid 1px #64a131;
		background: #f5ffed;
		color: #64a131;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
	}